<!-- page to register as a new user -->
<div class="container-fluid">
  <div class="row-fluid">

      <h1>Register</h1>

    <%=  render :partial => 'users/user', locals: { buttonName: "Register", path: root_path} %>

    </div>
</div>
